
<!DOCTYPE html>

<html lang= "e">

<head>
    <title>News Scraper</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>
       
    <nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo">China State Run Media</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">Obey</a></li>
      <li><a href="">Obey <span class="new badge">4</span></a></li>
      <li><a href="">Obey</a></li>
    </ul>
  </div>
</nav>



    <h1>body text</h1>
{{{ body }}}


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/script.js"></script>


</body>



</html>