
<!DOCTYPE html>

<html lang= "e">

<head>
    <title>News Scraper</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>
       
    <nav>
  <div class="nav-wrapper">
    <a href="http://www.scmp.com/news/china" class="brand-logo">China State Run Media</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="https://www.youtube.com/watch?v=O1hxX7-92kE">Russian Folk Music That Will Make You Thrill!</a></li>
      <li><a href="https://www.youtube.com/watch?v=Q8EQlkLnssA">ТАЛЬЯНОЧКА</a></li>
      <li><a href="https://www.youtube.com/watch?v=DtT62uw2LGE">Katyusha (Катюша)</a></li>
      <li><a href="https://www.youtube.com/watch?v=Oi2261-l7nY">Rose Liu</a></li>
      <li><a href="https://www.youtube.com/watch?v=UctriMuXYS0&start_radio=1&list=RDUctriMuXYS0">China National Anthem</a></li>
  

    </ul>
  </div>
</nav>


  
  <div class="progress">
      <div class="indeterminate"></div>
  </div>






    <h1>body text</h1>
{{{ body }}}


   <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">Thank you for your visit to China State Run Media.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Approved Websites by the State</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://www.china.org.cn/">(click here) China Information</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.chinadaily.com.cn/china/">(click here) China Daily</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.xinhuanet.com/english/">(click here) XINHUANET</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="https://chinesecraze.wordpress.com/2014/01/15/%E6%84%9F%E8%B0%A2%E4%BF%A1-%EF%BC%8Dwriting-a-thank-you-letter-in-chinese/">Thank you for your visit || 谢谢 </a>
            </div>
          </div>
        </footer>





<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/script.js"></script>


</body>



</html>